.comments {
    color: var(--color-green) !important;
}

.functions {
    color: var(--color-yellow-light) !important;
}

.window {
    border: var(--border-solid);
    box-shadow: var(--box-shadow-window);
}

.window .title {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}